.button {
  &__primary {
    background-color: var(--Background-Accent);
    color: var(--Text-Contrast);
    &:hover:enabled {
      background-color: var(--Background-Primary-Hover);
    }
    &:active:enabled {
      background-color: var(--Background-Primary-Hover);
      color: var(--State-Text-Primary);
    }
    &:focus-visible:enabled {
      color: var(--State-Text-Primary);
      outline: 4px solid var(--State-Background-Focus);
    }
  }
}