:root {
  //Text
  --Text-Contrast: #FFFFFF;
  --Text-Contrast-Secondary: #272733;
  
  //Icon
  --Icon-Contrast: #FFFFFF;
  --Icon-Contrast-Secondary: #272733;

  //Radius
  --Radius_2: 8px;

  //Background
  --Background-Accent: #272733;
  --Background-Danger-Accent: #E52421;
  --Background-Danger-Hover: #D80F16;
  --Background-Secondary-Accent: #EDF2F4;
  --Background-Secondary-Hover: #E2EBEE;
  --Background-Primary-Hover: #151515;
  
  //Press
  --State-Text-Primary: rgba(255, 255, 255, .72);
  --State-Text-Secondary: rgba(30, 30, 30, .64);
  --Icon-Contrast-Press: rgba(255, 255, 255, .72);
  --State-Text-Danger: rgba(255, 255, 255, .72);
  --Icon-Contrast-Press: rgba(255, 255, 255, .72);
  
  //Focus
  --State-Background-Focus: #C5D1F7;

  //Disabled
  --Text-Disabled: #A6A6A6;
  --State-Background-Disabled: #EFEFEF;
  --Icon-Disabled: #A6A6A6;
  

}