.button {
  &__danger {
    background-color: var(--Background-Danger-Accent);
    color: var(--Text-Contrast);
    &:hover:enabled {
      background-color: var(--Background-Danger-Hover);
    }
    &:active:enabled {
      background-color: var(--Background-Danger-Hover);
      color: var(--State-Text-Primary);
    }
    &:focus-visible:enabled {
      background-color: var(--Background-Danger-Hover);
      border: var(--State-Background-Focus) solid 4px;
    }
  }
}