@use '../../../../fonts.scss' as *;
.button_size {
  &_l {
    height: 44px;
    padding: 12px 16px;
  }
  &_m {
    height: 36px;
    padding: 8px 12px;
  }
  &_s {
    height: 24px;
    padding: 2px 8px;
    @include ibm-plex-sans-regular;
  }
}