.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  // background: #000;
  gap: 50px;
  padding: 1px;

  &__item {
    // background: #fff;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
}